<!-- <!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Item Details</title>
	</head>
	<body>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
				{% for message in messages %}
					<li><strong> {{ message }} </strong></li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	<h1>{{item_name}}</h1>
	<p>Description: {{item_description}}</p>
</body>
</html> -->

{% extends "base.html" %}
{% block content %}
	<h1>{{item_name}}</h1>
	<p><em>Description:</em> {{item_description}}</p>
{% endblock %}